body{
    background-color: #0f0f0f;
    margin: 0px;
}
.logo_main{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logo_main img{
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
}
.front_main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 10px;
}
.front_main img{
    flex: 1;
    width: 30%;
    height: 500px;
    object-fit: cover;
}
.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.catalog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-bottom: 15px;
}
.button{
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 150%;
    font-family: 'Inter';
    font-weight:600;
}
.catalog p{
    color: aliceblue;
    font-size:300%;
    text-align: center;
    font-family:'Bodoni Moda',sans-serif;
    font-weight: 400;
}
.carousel{
    overflow: hidden;
    width: 100%;
}
.track{
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}
.track img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.store_img{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 20px;
}
.store_img img{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer p{
    color: aliceblue;
    padding-left: 10px;
    font-family: 'Inter';
    font-weight: 600;
}
footer a{
    align-items: center;
    font-size: larger;
    color: lightgrey;
}
.footer{
    padding-right: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}